.banner__button-text{
  width: 156px;
  height: 21px;
  font-family: Intro ;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #EBEAE4;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


@media(min-width:720px) and (max-width: 1350px){
  .banner__button-text{
    width: 150px;
    height: 19px;
    font-size: 23px;
    line-height: 23px;
  }
}
