.banner__button{
  width: 247px;
  height: 56px;
  background: #5386A4;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 406px) and (max-width: 1350px){
  .banner__button{
    width: 229.84px;
    height: 52.1px;
    border-bottom-right-radius: 20px;
  }
}
@media(max-width:405px){
  .banner__button{
    width: 50%;
    height: 52.1px;
    border-bottom-right-radius: 20px;
  }
}
