.banner__text-box_houses{
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 159px;
  position: relative;
  z-index: 3;
}
@media(min-width:720px) and (max-width: 1350px){
  .banner__text-box_houses{
    width: 100%;
    height: unset;
    align-self: center;
    padding: 40px 0;
  }
}
@media(max-width:720px){
  .banner__text-box_houses{
    width: 100%;
    height: unset;
    align-self: center;
    padding: 10px 0;
  }
}
