.cards__card-container{
  width: 1190px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media(max-width: 1350px){
  .cards__card-container{
    width: 88.87%;
    justify-content: space-between;
  }

}
