.menu__logo_type_new_year{
  background-image: url(../../../../images/logo/menu__logo-mini_type_new_year.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 102px;
  width: 396px;
  border-left: solid 1px #DFD0AE ;
  transition: background-image 0.3s ease-in-out 0.2s;
  transition: width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

@media (max-width: 1350px){
  .menu__logo_type_new_year{
    border: none;
    background-image: url(../../../../images/logo/menu__logo-full_type_new_year.svg);
    height: 75px;
    width: 352px;
    background-size: contain;
  }
}

@media (max-width: 720px){
  .menu__logo_type_new_year{
    border: none;
    width: 200px;
    background-image: url(../../../../images/logo/menu__logo-full_type_new_year.svg);
    height: 48px;
    background-size: contain;
    align-self: flex-end;
    margin: 0;
  }
}
