.menu__logo_type_new_year{
  background-image: url(../../../../images/logo/menu__logo-mini_type_new_year.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 102px;
  width: 396px;

}

@media (max-width: 1350px){
  .menu__logo_type_new_year{
    background-image: url(../../../../images/logo/menu__logo-full_type_new_year.svg);
    height: 75px;
    width: 352px;
    background-size: contain;
    padding-bottom: 18px;
  }
}

@media (max-width: 720px){
  .menu__logo_type_new_year{

    width: 200px;
    background-image: url(../../../../images/logo/menu__logo-full_type_new_year.svg);
    height: 48px;
    background-size: contain;
    align-self: flex-end;
    margin: 0;
    padding-bottom: 7px;
  }
}
