.banner__title-house{
  font-family: Intro ;
  font-size: 40px;
  line-height: 41px;
  color: #EBEAE4;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 32px;
  left: 63px;
}
@media(max-width:1351px){
  .banner__title-house{
    position: unset;
    width: 88.87%;
    font-size: 37px;
    line-height: 38px;
    margin: 0 auto;
  }
}
@media(max-width:425px){
  .banner__title-house{
    position: unset;
    width: 88.87%;
    font-size: 22px;
    line-height: 30px;
    margin: 0 auto;
}
  }
