.banner{
  padding: 47px 0 0;
  display: flex;
  justify-content: center;
}
@media (min-width:720px) and (max-width: 1350px){
  .banner{
    padding: 27px 0 0;
    margin: 65px 0 0;
  }
}
@media (max-width:720px){
  .banner{
    padding: 27px 0 0;
    margin: 65px 0 0;
    width: 100%;
  }
}
