.banner{
  padding: 47px 0 0;
  display: flex;
  justify-content: center;
}
@media(min-width:950px) and (max-width: 1350px){
  .banner{
    padding: 27px 0 0;
    margin: 65px 0 0;
  }
}
@media screen and (max-width: 950px){
  .banner{
    padding: 27px 0 0;
    margin: 65px 0 0;
    width: 100%;
  }
}
