.cards__photo-container{
  width: 375px;
  height: 230px;
  overflow: hidden;
}
@media(max-width: 1350px){
  .cards__photo-container{
    width: 100%;
    height: 240px;
  }
}
@media(max-width: 720px){
  .cards__photo-container{
    display: none;
  }
}
