.banner__scrol-item{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #EBEAE4;
  margin-right: 10px;
  opacity: 0.6;
  box-shadow: inset 0px 2px 2px rgba(185, 185, 185, 0.25);
}
.banner__scrol-item:last-of-type{
  margin-right: 0;
}
.banner__scrol-item_active{
  background: #3C666B;
  opacity: 0.9;
}
@media (max-width: 1350px){
  .banner__scrol-item{
    width: 8vw;
    height: 7px;
    border-radius: 79px;
    background: #EBEAE4;
    margin-right: 10px;
    opacity: 0.6;
    box-shadow: inset 0px 2px 2px rgba(185, 185, 185, 0.25);
  }
  .banner__scrol-item:last-of-type{
    margin-right: 0;
  }
  .banner__scrol-item_active{
    background: #3C666B;
    opacity: 0.9;
  }
}
@media (max-width: 720px){
  .banner__scrol-item{
    width: 12vw;
    height: 6px;
    border-radius: 79px;
    background: #EBEAE4;
    margin-right: 10px;
    box-shadow: inset 0px 2px 2px rgba(185, 185, 185, 0.25);
    opacity: 0.6;
  }
  .banner__scrol-item:last-of-type{
    margin-right: 0;
  }
  .banner__scrol-item_active{
    background: #3C666B;
    opacity: 0.9;
  }
}
