.menu__burger{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../images/menu__burger/__content/menu__burger_content_tablet.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
@media(max-width: 1350px){
  .menu__burger{
    display: flex;
    width: 89.53px;
    height: 75px;
  }
}
@media (max-width: 720px){
  .menu__burger{
    display: flex;
    width: 57px;
    height: 48px;
  }
}
