.menu__burger{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
@media(max-width: 1350px){
  .menu__burger{
    display: flex;
    width: 89.53px;
    height: 75px;
  }
}
@media (max-width: 720px){
  .menu__burger{
    display: flex;
    width: 57px;
    height: 48px;
  }
}
