.banner__subtitle{
  font-family: Intro ;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #EBEAE4;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 68px;
  left: 63px;
}
@media(max-width:720px){
  .banner__subtitle{
    position: relative;
    width: 90%;
    font-size: 15px;
    line-height: 18px;
    margin: 20px 0 0 10px;
    top: 0;
    left: 0;
  }
}
@media(max-width:425px){
  .banner__subtitle{
    position: relative;
    width: 90%;
    font-size: 12px;
    line-height: 13px;
    margin: 25px 0 0 10px;
    top: 0;
    left: 0;
}
}
