.banner__container{
  width: 1190px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media(min-width:720px) and (max-width: 1350px){
  .banner__container{
    width: 88.87%;
    height: 214px;
  }
}
@media screen and (max-width: 720px){
  .banner__container{
    width: 100vw;
    background-position: center;
  }
}
