.banner__container{
  display: flex;
  position: relative;
  width: 1190px;
  height: 230px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;

  justify-content: space-evenly;
}
@media(min-width:720px) and (max-width: 1350px){
  .banner__container{
    width: 88.87%;
    height: 214px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 720px){
  .banner__container{
    width: 100vw;
    height: 183px;
    flex-direction: column-reverse;
  }
}
