
@media (max-width: 1350px){
  .swipe-menu__logo{
    background-image: url(../../../images/logo/logo-mini.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 41px;
  }
}
@media (max-width: 720px){
  .swipe-menu__logo{
    background-image: url(../../../images/logo/logo-mini.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 27px;
  }

}

