.cards__text{
  font-family: Intro ;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #E5E5E5;
  text-decoration: none;
  margin: 0 0 7px 0;
  padding: 0;
}
.cards__text-link{
  color: #3C666B;
  font-size: 30px;
  line-height: 1;
}
.cards__text-links{
  margin: 34px 0 7px 0;
}
@media (max-width: 720px){
  .cards__text{
    margin: 0;
  }
  .cards__text-links{
    margin:0;
  }
}

