.menu{
  display: flex;
  flex-direction: row;
  height: 102px;
  background: #9BA695;
  justify-content: center;
  transition: height 0.3s ease-in-out;
}

@media(max-width: 1350px){
  .menu{
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: flex-end;
  }
}
@media (max-width: 720px){
  .menu{
    width: 100%;
    min-width: 330px;
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: flex-end;
  }
}
